

<!-- Section 1 -->
<section class="bg-white pt-7 pb-14">
    <div class="container px-8 mx-auto sm:px-12 lg:px-20">
        <h1 class="skilltitle text-sm font-bold tracking-wide text-center text-gray-800 uppercase mb-7">Skills.</h1>
        <div class="flex grid items-center justify-center grid-cols-4 grid-cols-12 gap-y-8">
            <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-3 xl:col-span-2">
                <!-- <img src="https://cdn.devdojo.com/tails/images/disney-plus.svg" alt="Disney Plus" class="block object-contain h-12"> -->
                <img class="skill-logo" src="https://img.icons8.com/color/96/000000/angularjs.png"/>
            </div>
            <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-3 xl:col-span-2">
                <!-- <img src="https://cdn.devdojo.com/tails/images/google.svg" alt="Google" class="block object-contain h-9"> -->
                <img class="skill-logo" src="https://img.icons8.com/color/96/000000/nodejs.png"/>
            </div>
            <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-3 xl:col-span-2">
                <!-- <img src="https://cdn.devdojo.com/tails/images/hubspot.svg" alt="Hubspot" class="block object-contain h-9"> -->
                <img class="skill-logo" src="https://img.icons8.com/color/96/000000/mongodb.png"/>
            </div>
            <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-3 xl:col-span-2">
                <img src="../../assets/pngwing.com (2).png" alt="Youtube" class="block object-contain h-7 lg:h-8 skill-logo">
            </div>
            <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-6 xl:col-span-2 ">
                <img src="../../assets/html-5.png" alt="Slack" class="block object-contain h-9 skill-logo">
            </div>
            <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-6 xl:col-span-2">
                <img src="../../assets/css-3.png" alt="Shopify" class="block object-contain h-9 skill-logo">
            </div>
        </div>
    </div>
</section>
